body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1174px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.6em;
}

.header {
  background: #4ebdfe;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #4ebdfe), color-stop(100%, #3790d9));
  background: linear-gradient(135deg, #4ebdfe 0%, #3790d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1 );
  color: #fff;
  padding-top: 40px;
}

span {
  font-size: 50px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer {
  width: 579px;
  margin-top: 145px;
}

.intro {
  width: 414px;
  margin-top: 50px;
}

.btn {
  background: #ffd429;
  color: black;
  display: block;
  width: 222px;
  padding: 19px 0;
  text-align: center;
  text-decoration: none;
  margin-top: 40px;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.btn:hover {
  background: #050505;
  color: aqua;
}

.desktop {
  padding-top: 20px;
  margin-bottom: 70px;
}

.learn {
  padding-top: 100px;
  padding-bottom: 120px;
}

.section-title {
  font-size: 30px;
  text-align: center;
}

.future {
  background: url("../img/icon1.png") no-repeat top;
  padding-top: 80px;
  width: calc(33.3% - 96px);
}

.prospects {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time {
  text-align: center;
}

.time-future {
  text-align: center;
  font-size: 13.5px;
}

.future-travel {
  background: url("../img/icon2.png") no-repeat top;
}

.future-values {
  background: url("../img/icon3.png") no-repeat top;
}

.mail {
  background: #ecf3f8;
  padding-top: 100px;
  padding-bottom: 100px;
}

.input {
  width: 340px;
  border: 2px solid #bbbbbb;
  font-size: 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 402px;
  padding-left: 25px;
  margin-top: 25px;
}

.form {
  margin-top: 60px;
}

.btn-form {
  width: 370px;
  border: 2px solid #bbbbbb;
  margin: auto;
  margin-top: 25px;
}

.footer {
  background: #164d7a;
  padding: 62px 0;
  text-align: center;
  color: #fff;
  font-size: 13px;
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 1200px) {
  .container {
    width: 720px;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer {
    width: 100%;
  }
  .intro {
    width: auto;
  }
  .desktop {
    display: block;
    width: 549px;
    margin: 72px 0;
  }
}

/* 576px -  768px */
@media screen and (max-width: 1200px) {
  .container {
    width: 5400px;
  }
}

/* 0px - 576px */
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */